
<div class="card text-center" *ngIf='success; else failTemplate'>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" (click)="open(managerModal)">Add Manager</button>
    </div>
    <h3>{{ restaurant.name }}</h3>
    <p><em>{{ restaurant.cuisine }}</em></p>
    <p>
        {{ restaurant.location.unit }} {{ restaurant.location.street }} <br>
        {{ restaurant.location.city }}, {{ restaurant.location.state}} {{ restaurant.location.zipCode }}
    </p>
</div>

<ng-template #failTemplate>
    <div class='text-center'>
        <p><strong>{{ message }}</strong></p>
    </div>
</ng-template>

<ng-template #managerModal>
    <div class="modal-header">
        <h5>Add Manager</h5>
        <button type="button" class="btn-close" (click)="modalRef.dismiss(' ')">
        </button>
    </div>
    <div class="modal-body">
        <app-add-manager [restaurant]='restaurant' [modalRef]='modalRef' [service]='restaurantService'></app-add-manager>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.dismiss(' ')">Cancel</button>
    </div>
</ng-template>