
<div class="card text-center" *ngIf='success; else failTemplate'>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary">Modify</button>
    </div>
    <h3>{{ restaurant.name }}</h3>
    <p><em>{{ restaurant.cuisine }}</em></p>
    <p>
        {{ restaurant.location.unit }} {{ restaurant.location.street }} <br>
        {{ restaurant.location.city }}, {{ restaurant.location.state}} {{ restaurant.location.zipCode }}
    </p>
</div>

<mat-slider min="1" max="100" step="1" value="1"></mat-slider>


<app-listing [configuration]="listConfig" pageSize=10></app-listing>

<ng-template #failTemplate>
    <div class='text-center'>
        <p><strong>{{ message }}</strong></p>
    </div>
</ng-template>