<p>listing works!</p>

<div class="container" id="restaurant-manager">
    <table class="table">
        <thead>
            <title>Restaurants</title>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Name</th>
                <th>Cuisine</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!--Loop through get method-->
                <td></td>
                <!--Delete Button-->
                <td></td>
                <!--Modify Button-->
                <td></td>
                <!--View Button-->
                <td></td>
                <!--Restaurant Name-->
                <td></td>
                <!--Restaurant Cuisine-->
                <td></td>
                <!--Condensed Location (City, State)-->
            </tr>
        </tbody>
    </table>

</div>